<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <h1>
      UK Property Price Paid
    </h1>

    <p><select id="type">
      <option selected value="">Any type</option>
      <option value="terraced">Terraced</option>
      <option value="semi-detached">Semi-detached</option>
      <option value="detached">Detached</option>
      <option value="flat">Flat</option>
      <option value="other">Other</option>
    </select></p>

    <p><select id="duration">
      <option selected value="">Any duration</option>
      <option value="freehold">Freehold</option>
      <option value="leasehold">Leasehold</option>
      <option value="unknown">Unknown</option>
    </select></p>

    <label for="start_date">Date, from:</label>
    <input id="start_date" type="date" min="1995-01-01" max="2022-12-31" value="1995-01-01" />
    <label for="end_date">Date, to:</label>
    <input id="end_date" type="date" min="1995-01-01" max="2022-12-31" value="2022-12-31" />

    <!-- <div id="count-by-date-chart">
      <strong>Property items sold by date</strong>
    </div> -->

    <div id="price-chart">
      <strong>Average property price by county</strong>
    </div>

    <div id="count-chart">
      <strong>Total property items sold by county</strong>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.5.4/crossfilter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/dc.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
