<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <h1>
      Hello World!
    </h1>

    <div id="price-chart">
      <strong>Average property price by county</strong>
    </div>

    <div id="count-chart">
      <strong>Total property items sold by county</strong>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.5.4/crossfilter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/dc.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
